* {
	box-sizing: border-box;
	font-family: Arial, tahoma, cairo, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
/* global variables */

/* main components */

